<div class="d-flex align-items-center justify-content-center mt-5">
  <div class="p-5 rounded shadow-lg">
    <h1 class="text-center mb-4">Login Page</h1>

    <form action="/auth/login" method="POST">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          placeholder="Enter your username"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <div class="input-group">
          <!-- Wrap the input and icon in an input-group -->
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Enter your password"
          />
          <button
            class="btn btn-outline-secondary"
            type="button"
            id="togglePassword"
          >
            <i class="bi bi-eye"></i>
            <!-- Eye icon using Bootstrap Icons -->
          </button>
        </div>
      </div>
      <p class="text-danger">{{err}}</p>

      <button type="submit" class="btn btn-primary w-100 mb-2">Login</button>
      <div class="text-center">
        <a class="text-decoration-none" href="/auth/signup">New user? Signup</a>
      </div>
    </form>
  </div>
</div>

<script>

  document.getElementById('togglePassword'); const passwordInput =
  document.getElementById('password'); togglePassword.addEventListener('click',
  function () { if (passwordInput.type === 'password') { passwordInput.type =
  'text'; } else { passwordInput.type = 'password'; } });
</script>