<div class="container-fluid bg-light">
  <div class="row pt-lg-5">
    <div class="col-md-6 d-flex justify-content-center pt-lg-5">
      <img src="/image/Icon.svg" alt="Image" class="w-75 h-auto" />
    </div>
    <div class="col-md-6 d-flex align-items-center mt-lg-5">
      <div>
        <p class="font-weight-bold h2">Welcome to</p>
        <p class="font-weight-bold display-2">Bloggger.com</p>
        <div class="mt-4">
          <a href="/auth/signup" class="btn btn-primary btn-lg">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</div>